{% extends "layout.html" %}
{% block content %}
{% for info in information %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ info.episode }}</a>
            <small class="text-muted">{{ info.air_date }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ info.name }}</a></h2>
        <h4><a class="mr-2">Episode Characters</a></h4>
        {% for character in info.characters %}
        <h6><a class="mr-2" href="/characters/{{ character.id }}">{{ character.name }}</a></h6>
        {% endfor %}
    </div>
</article>
{% endfor %}
{% endblock content %}